@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.pulse-li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0;
}

@keyframes pulse-animation {
0% {
  transform: translate(-50%, -50%) scale(0);
  opacity: .8
}
90% {
  opacity: 0;
  transform: translate(-50%, -50%) scale(5)
}
to {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0
}
}

.pulse:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: #f9e9a2;
  border-radius: 100%;
  opacity: .5;
  transform: translate(-50%,-50%) scale(3);
  animation: pulse-animation 3s infinite;
}

.pulse {
  position: relative;
  display: inline-block;
  vertical-align: 1px;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  background: #ffdd40;
  color: transparent;
  border-radius: 100%;
  flex: 0 0 auto;
  animation: opacity-animation 1s linear;
}

.pulse.green {
  background: #00e600;
}